@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
        &.active > a {
          color: rgb(176, 184, 229);
          background-color: transparent;

          width: auto;
          text-align: right;
        }
      }

      &__link {
        font-size: 1.2rem;
        display: inline-block;
        margin: 0.3rem 0.5rem;
        border: 1px solid transparent;
        padding: 0.5rem 0.5rem;
        width: auto;
        font-weight: 100;
        text-align: center;
        font-weight: 300;
      }
    }
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .about__bio-img {
    border-top: 0px solid $secondary-color;
  }

  .projects {
    &__bio-image {
      height: 40vh;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-xl {
  .projects__bio-image {
    height: 50vh;
  }
}
